<!DOCTYPE html>
<html>
<head>
  <title>Friendsatsnow</title>
  <%= stylesheet_link_tag "screen", media: 'screen, projection' %>
  <%= stylesheet_link_tag "print", media: 'print' %>
  <!--[if lt IE8]>
  <%= stylesheet_link_tag "ie", media: 'screen, projection' %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div id="header">
      <%= link_to image_tag("logo2012.png", :border=>0), :controller => 'pages', :action => 'home' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
